* {
    box-sizing: border-box;
    
}

body {
    background-color: #50A2B0;
}

.logo {
  width: 200px;
}

li {
    list-style: none;
}

.nav {
    display: flex;
    justify-content: space-around;
    
}